[submodule "libs/Buffer"]
	path = libs/Buffer
	url = git@github.com:Iprime111/Buffer.git
[submodule "libs/Tree"]
    path = libs/Tree
    branch = tree-lib
	url = https://github.com/Iprime111/BinaryTree
